<template>
  <div id="home">
    <div class="relative center fix-container">
     <button class="absolute hide-button-position mt-3 mr-2" @click="showPositionsStations = !showPositionsStations">Hide Positions Stations</button>
     <img class="absolute" src="@/assets/bg-table.jpg" alt="Model" width="740" height="740">
     <div id="points" v-if="showPositionsStations">
      <div class="point-00 absolute point text-white text-center"><span>00</span></div>
      <div class="point-01 absolute point text-white text-center"><span>01</span></div>
      <div class="point-02 absolute point text-white text-center"><span>02</span></div>
      <div class="point-03 absolute point text-white text-center"><span>03</span></div>
      <div class="point-04 absolute point text-white text-center"><span>04</span></div>
      <div class="point-10 absolute point text-white text-center"><span>10</span></div>
      <div class="point-11 absolute point text-white text-center"><span>11</span></div>
      <div class="point-12 absolute point text-white text-center"><span>12</span></div>
      <div class="point-13 absolute point text-white text-center"><span>13</span></div>
      <div class="point-14 absolute point text-white text-center"><span>14</span></div>
      <div class="point-20 absolute point text-white text-center"><span>20</span></div>
      <div class="point-21 absolute point text-white text-center"><span>21</span></div>
      <div class="point-22 absolute point text-white text-center"><span>22</span></div>
      <div class="point-23 absolute point text-white text-center"><span>23</span></div>
      <div class="point-24 absolute point text-white text-center"><span>24</span></div>
      <div class="point-30 absolute point text-white text-center"><span>30</span></div>
      <div class="point-31 absolute point text-white text-center"><span>31</span></div>
      <div class="point-32 absolute point text-white text-center"><span>32</span></div>
      <div class="point-33 absolute point text-white text-center"><span>33</span></div>
      <div class="point-34 absolute point text-white text-center"><span>34</span></div>
      <div class="point-40 absolute point text-white text-center"><span>40</span></div>
      <div class="point-41 absolute point text-white text-center"><span>41</span></div>
      <div class="point-42 absolute point text-white text-center"><span>42</span></div>
      <div class="point-43 absolute point text-white text-center"><span>43</span></div>
      <div class="point-44 absolute point text-white text-center"><span>44</span></div>
    </div>
    <ELPopover class="absolute" :style="popover.positionStyle"
        :title="popover.title"
        width="100"
        :show="hidePopover"
        trigger="manual"
        v-model="popover.visible"
        :content="popover.msg">
      </ELPopover>
    <img id="robot" class="absolute" :style="robot.robotStyle" 
    src="@/assets/bot-icon.png" alt="bot-icon" width= "50px" height= "50px">
  </div>
  <div class="center relative mb-3" style="width: 740px;">
    <div class="text-center">
      <button class="common-Button mt-3 mr-2" @click="turnLeft">
        <i class="fa fa-arrow-left"></i> Left</button>
        
        <button class="common-Button mt-3 mr-2" @click="move">
          Move <i class="fa fa-arrow-up"></i></button>

        <button class="common-Button mt-3 mr-2" @click="turnRight">
          Right <i class="fa fa-arrow-right"></i></button>

        <button class="common-Button mt-3" @click="report">
         Report <i class="fa fa-file-text-o"></i></button>
       </div>
       <div class="text-left flex-box justify-between mt-2"> 
        <div class="inline-block my-1">
          <label>X-Coordinate:</label>
          <input type="number" class="small" v-model="placingVal.x" placeholder="1">
        </div>
        <div class="inline-block my-1">
          <label>Y-Coordinate:</label>
          <input type="number" class="small" v-model="placingVal.y" placeholder="1">
        </div>
        <div class="inline-block my-1">
          <label>Facing Direction:</label>
          <input type="text" class="small" v-model="placingVal.charFasing" placeholder="N">
        </div>
        <button class="common-Button" @click="place">
          Place <i class="fa fa-edit"></i></button>
      </div>
      <input type="file" multiple @change="loadFile" ref="fileInput" accept="text/plain">
      <button class="common-Button" @click="executeOrders">
        Execute <i class="fa fa-cogs"></i></button>
    </div>
  </div>
</template>
<script>
  import ELPopover from 'element-ui/lib/popover'

  export default {
    name: 'home',
    data () {
      return {
        showPositionsStations: false,
        filesSelected: "",
        popover: {
          visible: false,
          title:"",
          msg:"",
          positionStyle: {
            top : "0px",
            left: "0px",
            "z-index": "15",
            transition: ""
          },
        },
        robot: {
          position: {
            x: 0,
            y: 0,
            facing: 0,
            charFasing: 'N'
          },
          robotStyle: {
            top : "0px",
            left: "0px",
            transition: "transform 1s",
            transform: "rotate(0turn)"
          }
        },
        placingVal: {
          x: 0,
          y: 0,
          facing: 0,
          charFasing: ''
        },
        orders:[
        ],
        tablePositions: [
        [
        { top: "125px", left: "35px" },
        { top: "125px", left: "193.75px" },
        { top: "125px", left: "352.5px" },
        { top: "125px", left: "511.25px" },
        { top: "125px", left: "670px" },
        ],
        [
        { top: "247.5px", left: "35px" },
        { top: "247.5px", left: "193.75px" },
        { top: "247.5px", left: "352.5px" },
        { top: "247.5px", left: "511.25px" },
        { top: "247.5px", left: "670px" },  
        ],
        [
        { top: "370px", left: "35px" },
        { top: "370px", left: "193.75px" },
        { top: "370px", left: "352.5px" },
        { top: "370px", left: "511.25px" },
        { top: "370px", left: "670px" },
        ],
        [
        { top: "492.5px", left: "35px" },
        { top: "492.5px", left: "193.75px" },
        { top: "492.5px", left: "352.5px" },
        { top: "492.5px", left: "511.25px" },
        { top: "492.5px", left: "670px" },
        ],
        [
        { top: "615px", left: "35px" },
        { top: "615px", left: "193.75px" },
        { top: "615px", left: "352.5px" },
        { top: "615px", left: "511.25px" },
        { top: "615px", left: "670px" },
        ]
        ],
        transitions : {
          transitionTransform:  "transform 1s",
          transitionLeft: "left 2s linear",
          transitionTop: "top 2s linear",
        }
      }
    },
    mounted() {
    //intilaizing the robot to (0,0) position
    this.robot.robotStyle.top = this.tablePositions[this.robot.position.x][this.robot.position.y].top
    this.robot.robotStyle.left = this.tablePositions[this.robot.position.x][this.robot.position.y].left
    this.placePopover()
  },
  methods: {
    place: function() {
      console.dir(this.placingVal)
      console.dir(this.robot.position)
      let equalX = (this.robot.position.x == this.placingVal.x)
      let equalY = (this.robot.position.y == this.placingVal.y)
      let equalF = (this.robot.position.charFasing == this.placingVal.charFasing)
      console.log(equalX , equalY , equalF)
      if(equalX && equalY && equalF) {
        this.errorPopover("Placing:", "No Position Updates.!")
      } else {
        let inValidPosition = this.isInvalidPosition(this.placingVal.x, this.placingVal.y)
        let inValidDirection = this.isInvalidDirection(this.placingVal.charFasing)
        if(inValidPosition) {
          this.errorPopover("Placing Error:", "Positions (0 to "+ this.tablePositions.length + ".")
        } else if (inValidDirection) {
          this.errorPopover("Placing Error", "Directions (N, E, S, W)")
        }  else if ( !inValidPosition && !inValidDirection) {
          this.robot.position.x = this.placingVal.x
          this.robot.position.y = this.placingVal.y
          this.robot.position.charFasing = this.placingVal.charFasing
          this.robot.position.facing = this.directionRoundVal(this.placingVal.charFasing)
          console.log(this.robot.position)
          //Update the style of the of the robot element to the new position cordinates and facing
          this.robot.robotStyle.transition = ""
          this.robot.robotStyle.top = this.tablePositions[this.robot.position.x][this.robot.position.x].top
          this.robot.robotStyle.left = this.tablePositions[this.robot.position.x][this.robot.position.y].left
          this.robot.robotStyle.transform = "rotate(" + this.robot.position.facing + "turn)"
          this.placePopover()
          }
        }
      },
      turnRight: function () {
      //turn 90 degree to the right
      this.robot.position.facing += 0.25

      //update the facing of the rebot
      this.updateFacing()

      //edit the style
      this.robot.robotStyle.transition = this.transitions.transitionTransform
      this.robot.robotStyle.transform = "rotate(" + this.robot.position.facing + "turn)"
    },
    turnLeft: function () {
      //turn 90 degree to the left
      this.robot.position.facing -= 0.25

      //update the facing of the rebot
      this.updateFacing()

      //edit the style
      this.robot.robotStyle.transition = this.transitions.transitionTransform
      this.robot.robotStyle.transform =  "rotate(" + this.robot.position.facing + "turn)"
    },
    updateFacing: function() {
      let f = (this.robot.position.facing % 1).toFixed(2)
      //check if else to find whick side if the robot facing and change the x & y accordingly 
      if (f == 0 ){
        console.log("Facing North")
        this.robot.position.charFasing = 'N'
      } else if (f == 0.25 || f == -0.75) {
        console.log("Facing East")
        this.robot.position.charFasing = 'E'
      } else if (f == 0.5 || f == -0.5) {
        console.log("Facing South")
        this.robot.position.charFasing = 'S'
      } else if (f == 0.75 || f == -0.25) {
        console.log("Facing West")
        this.robot.position.charFasing = 'W'
      } else {
        this.errorPopover("Invalid Facing:", "Directions (N, E, S, W)")
      }

    },
    directionRoundVal: function(d) {
      //check and return the value of routation according to direction character (N, E, S, W)
      d = d.toUpperCase()
      if (d == 'N'){
        return 0
      } else if (d == 'E') {
        return  0.25
      } else if (d == 'S') {
        return 0.5
      } else if (d == 'W') {
        return  0.75
      } else {
        console.log("ERROR: directionRoundVal(). Invalid Direction Character")
        return -1
      }

    },
    isInvalidPosition: function(x, y) {
      //check if the new position is valid within the scope of the input
      return  (x < 0 || y < 0 || x > 4 || y > 4)
    },
    isInvalidDirection: function(d) {
      d = d.toUpperCase()
      if (d == 'N'){
        return false
      } else if (d == 'E') {
        return  false
      } else if (d == 'S') {
        return false
      } else if (d == 'W') {
        return  false
      } else {
        return true
      }
    },
    move: function () {
      //1. get the current position
      let x = this.robot.position.x
      let y = this.robot.position.y
      let trans =  this.robot.robotStyle.transition

      //check if else to find whick side if the robot facing and change the x & y accordingly 
      if (this.robot.position.charFasing == 'N'){
        x--
        trans =  this.transitions.transitionTop
      } else if (this.robot.position.charFasing == 'E') {
        y++
        trans =  this.transitions.transitionLeft
      } else if (this.robot.position.charFasing == 'S') {
        x++
        trans =  this.transitions.transitionTop
      } else if (this.robot.position.charFasing == 'W') {
        y--
        trans =  this.transitions.transitionLeft
      } else {
        this.errorPopover("Error:", "Invalid Faceing.!")
      }

       //check if the move is valid
       if (this.isInvalidPosition(x, y)){
        this.errorPopover("Error:", "Invalid Move.!")
        return
      } else {
        //Update the new position values to the binding-values/Storage
        this.robot.position.x = x
        this.robot.position.y = y
        this.robot.robotStyle.transition = trans

        //Update the style of the of the robot element to the new position cordinates
        this.robot.robotStyle.top = this.tablePositions[x][y].top
        this.robot.robotStyle.left = this.tablePositions[x][y].left
        this.placePopover()
        console.log("Moving...")
      }
    },
    report: function () {
    //Display the position and facing of the robot
      this.popover.title = "Report"
      this.popover.msg = "Position is (" +
        this.robot.position.x + ", " +
        this.robot.position.y + ", "+
        this.robot.position.charFasing + ")"
        this.showPopover()
  },
  loadFile: function(event) {
      var files = event.target.files // FileList object
      let setOrders = this.setOrdersCallback
      // Loop through the FileList and render image files as thumbnails.
      for (var i = 0, f; f = files[i]; i++)
      {
        var reader = new FileReader()
        reader.onload = function (event) {
          console.log(event.target.result)
          setOrders(event.target.result)
        }
        reader.readAsText(f);
      }
    },
    setOrdersCallback: function(data) {
      console.log(data)
      if (data != "" && typeof data != 'undefined') {
        let lines = data.split('\n')
        for (var i = 0; i < lines.length; i++) {
          this.orders.push(lines[i])
        }
        console.dir(this.orders)
      } else {
        this.errorPopover("Loading Error", "Ensure files not empty!")
      }
    },
    executeOrders: function() {
      let timeout = 0
      if (this.orders.length > 0) {
          for (var i = this.orders.length - 1; i >= 0; i--) {
            let order = this.orders.shift().trim().toUpperCase()
            setTimeout(this.doOrders, timeout, order)
            timeout += 2000    
          }
      } else {
        this.errorPopover("Execute:", "Empty Queue!")
      }
      this.resetFileInput()
    },
    doOrders: function (order) {
      switch (order) {
        case "MOVE": 
          this.move()
          break
        case "RIGHT":
          this.turnRight()
          break
        case "LEFT":
          this.turnLeft()
          break
        case "REPORT":
          this.report()
          break
        default:
          if(order.includes("PLACE")) {
            let ordr = order.replace("PLACE", "")
            ordr = ordr.replace(/[\s]/g,'')
            let newPlacingVal = ordr.split(",")
            if (newPlacingVal.length === 3) {
              this.placingVal.x = newPlacingVal[0] 
              this.placingVal.y = newPlacingVal[1]
              this.placingVal.charFasing = newPlacingVal[2].charAt(0)
              this.place()
            } else {
              this.errorPopover("Error:", "Invalid Placing.!")
            }
          } else {
            this.errorPopover("Orders:", "Invalid Order.!")
          }
      }
    },
    resetFileInput() {
      const input = this.$refs.fileInput
      input.type = 'text'
      input.type = 'file'
    },
    placePopover() {
      // set ehe popover message style
      let top = parseInt(this.robot.robotStyle.top.replace("px", ""), 10) - 90
      this.popover.positionStyle.top = top + "px"
      this.popover.positionStyle.left = this.robot.robotStyle.left
      this.popover.positionStyle.transition = this.robot.robotStyle.transition
    },
    hidePopover: function () {
      console.log("Hide")
      this.popover.visible = false
    },
    showPopover: function() {
        this.popover.visible = true
        console.log("Hide")
        setTimeout(this.hidePopover, 1800)
    },
    errorPopover: function(title, msg) {
      this.popover.title = title
      this.popover.msg = msg
        this.showPopover()
    }
  },
  components: {
    ELPopover,

  }
}
</script>

<!-- "scoped" meand is only applicable in this view -->
<style scoped>

body {
  width: 1200px;
}

input {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

input.small {
  width: 80px;
}

html, button, input {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.01em;
}

.fix-container {
  width: 740px; 
  height: 740px;
}

.inline-block {
  display: inline-block;
}

.flex-box {
  display: flex;
}

.justify-between {
  justify-content: space-around;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


#robot {
  z-index: 20;
}

#robot.facing {
  transition: transform 1s;
  transform: rotate(0deg);
}


.text-white {
  color: #fff;
}

.text-left {
  text-align: left;
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.point {
  width: 50px;
  height: 50px;
  background: #8a9895;
  border-radius: 50px;
  z-index: 10;
}

.point span {
  display: table; 
  margin: 14px auto;
}

.hide-button-position {
  top: 5px;
  right: 5px;
  z-index: 10;
}

.point-00{
  top: 125px;
  left: 35px;
}

.point-01{
  top: 125px;
  left: 193.75px;
}

.point-02{
  top: 125px;
  left: 352.5px;
}

.point-03{
  top: 125px;
  left: 511.25px;
}


.point-04{
  top: 125px;
  left: 670px;
}



.point-10{
  top: 247.5px;
  left: 35px;
}

.point-11{
  top: 247.5px;
  left: 193.75px;
}

.point-12{
  top: 247.5px;
  left: 352.5px;
}

.point-13{
  top: 247.5px;
  left: 511.25px;
}


.point-14{
  top: 247.5px;
  left: 670px;
}



.point-20{
  top: 370px;
  left: 35px;
}

.point-21{
  top: 370px;
  left: 193.75px;
}

.point-22{
  top: 370px;
  left: 352.5px;
}

.point-23{
  top: 370px;
  left: 511.25px;
}


.point-24{
  top: 370px;
  left: 670px;
}


.point-30{
  top: 492.5px;
  left: 35px;
}

.point-31{
  top: 492.5px;
  left: 193.75px;
}

.point-32{
  top: 492.5px;
  left: 352.5px;
}

.point-33{
  top: 492.5px;
  left: 511.25px;
}


.point-34{
  top: 492.5px;
  left: 670px;
}



.point-40{
  top: 615px;
  left: 35px;
}

.point-41{
  top: 615px;
  left: 193.75px;
}

.point-42{
  top: 615px;
  left: 352.5px;
}

.point-43{
  top: 615px;
  left: 511.25px;
}


.point-44{
  top: 615px;
  left: 670px;
}


.float-clear::after {
  content: "";
  clear: both;
  display: block;
}


.common-Button:active {
  color: #555abf;
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.common-Button:focus, .common-Button:hover {
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.common-Button {
  white-space: nowrap;
  border: 1px solid;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .08rem;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
}

.el-popover{
  padding: 0 !important;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
