<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  min-height: 100%;
  background: #f6f9fc;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

#app {  width: 100%;
  display: block;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
</style>

<style type="text/css" src="./utils/css/spacing.css"></style>
